@font-face {
    font-family: "Jura";
    font-weight: 400;
    src: local("Jura-Regular"),
     url(~@/assets/fonts/Jura-Regular.ttf) format("opentype");
  }
  @font-face {
    font-family: "Jura";
    font-weight: 700;
    src: local("Jura-Bold"),
     url(~@/assets/fonts/Jura-Bold.ttf) format("opentype");
  }
 

